.iqSidebarMenuI {
    font-size: 20px;
    margin-right: 10px;
    vertical-align: middle;
    width: 20px;
    display: inline-block;
    float: left;
    color: #ffa500;
    /*font-weight: 900;*/
}
